		.header {
			font-size: 50px;
			text-align: left;
			color: white;
			background-color: red;
			grid-area: header;
		}
		.mainBar {
			font-size: 50px;
			text-align: left;
			color: white;
			background-color: black;
			grid-area: mainBar;
		}
		.menu {
			font-size: 50px;
			text-align: left;
			color: white;
			background-color: green;
			grid-area: menu; 

		}
		.content {
			font-size: 50px;
			text-align: left;
			color: white;
			background-color: purple;
			grid-area: content
}
		.footer {
			font-size: 50px;
			text-align: left;
			color: white;
			background-color: blue;
			grid-area: footer
		}

		.grid-container {
	      display: grid;
	      grid-template-areas:
	        'header header header'
	        'mainBar  mainBar mainBar'
	        'menu content content '
	        'footer footer footer '
	        ;
	     }
	
